<div id="article-list">
    <% if @articles.any? %>
    <% @articles.each do |article| %>
    <h1>
        <%= article.title %>
    </h1>
    <p> <%= article.content %> </p>
    <% end %>
    <% else %>
    <h1>Tnere are no articles in this database</h1>
    <% end %>
</div>